.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

.logo {
  font-size: 2rem;
  color: #fff;
}

.navbar {
  display: flex;
  gap: 1rem;
  color: #000;
  color: #fff;
}
